<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lynne.springcloud.alibaba.dao.AccountDao">
    <insert id="create" parameterType="com.lynne.springcloud.alibaba.domain.Account">
        insert  into t_account(user_id,total,used,residue)
        values (#{userId},#{total},#{used},#{residue})
    </insert>
    <update id="update">
        update t_account set used= used + #{money},residue = residue - #{money}
        where user_id = #{userId}
    </update>
</mapper>